<div id="<%= dom_id race %>">
  <p>
    <strong>Name:</strong>
    <%= race.name %>
  </p>

  <p>
    <strong>Starts at:</strong>
    <%= race.starts_at %>
  </p>

  <p>
    <strong>Ends at:</strong>
    <%= race.ends_at %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= race.location %>
  </p>

</div>
