<%= form_with(model: sailor) do |form| %>
  <% if sailor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(sailor.errors.count, "error") %> prohibited this sailor from being saved:</h2>

      <ul>
        <% sailor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :hometown, style: "display: block" %>
    <%= form.text_field :hometown %>
  </div>

  <div>
    <%= form.label :sail_number, style: "display: block" %>
    <%= form.text_field :sail_number %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
